@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001A49;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #001A49;
}

.container{
    text-decoration-color: #f00;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%; 
    height: 100%vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100% ), url('../Images/Linuux\ 1.png');
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 0 0);
    z-index: -1;
}


    /* nav */

.nav{
    --padding-container:0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav_title{
    font-weight: 300;
}

.nav_link{
    margin-left: 50%;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav_link--menu{
    text-align: center;
}

.nav_items{
    list-style: none;
}


.nav_links{
    color: #fff;
    text-decoration: none;
}

.nav_menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_menu{
   display: block;
   width: 30px; 
   display: none;
}

.nav_window-close{
    display: var(--show, none);
}


/* Hero container */ 

.hero_container{
    max-width: 1000px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content:flex-start;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero_title{
    font-size: 3rem;
}

.hero_paragraph{
    margin-bottom: 20px;
}

.cta{
    display: inline-block;
    background-color: #2091F9;
    justify-self: center;
    color:#fff;
    text-decoration: none;
    padding: 13px;
    border-radius: 30px;
}

/* about */ 

.about{
    text-align: center;
    background-color: #ff7f00;
}

.subtitle{
    font-size: 2rem;
    margin-bottom: 25px;
}

.about_paragraph{
    line-height: 1.7;
    color: #ffff00;
}

.about_icons{
    display: grid;
    gap: 1em; 
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.about_icon{
    width: 70px;
}

/* knowledge */ 

.knowledge{
    background-color: #e5e5f7;
   
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #458cf755, #458cf7 );
overflow: hidden;
}


.knowledge_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge_picture{
    max-width: 500px;
}

.knowledge_paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

/* precio */ 

.price{
    background-color: #2091F9;
    text-align: center;
}

.price_table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price_element{
    background-color: #2091F9;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
}

.price_name{
    color: #ffff00;
    margin-bottom: 15px;
    font-weight: 300;
}

.price_price{
    font-size: 2.5rem;
    color: #ff7f00
}

.price_items{
    margin-top: 25px;
    display: grid;
    gap: 1em;
}

.price_cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: #ffff00;
    font-weight: 600;
    color: black;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

/* leaving mark*/ 

.leaving{
    background-color: #ffff00;
}

.leaving_container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.leaving_body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.leaving_body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.leaving_img{
    width: 400px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.leaving_texts{
    max-width: 700px;
}

.leaving_course{
    background-color: royalblue;
    color: #ffff00;
    display: inline-block;
    padding: 5px;
}

.leaving_arrow{
    width: 90%;
    cursor: pointer;
}

/* Asks */ 

.ask{
    background-color: #CC3333;
    text-align: center;
}

.ask_container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 50px;
}

.ask_body{
    display: grid;
    grid-template-columns: 1fr max-content;
}

.ask_padding{
    padding: 0;
    transition: padding .2s;
    border: 1px solid #458cf7;
    border-radius: 6px;
}

.ask_padding--add{
    padding-bottom: 30px;
}

.ask_answer{
    padding: 0 30px 0;
    overflow: hidden; 
}

.ask_title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}

.ask_arrow{
    border-radius: 50%;
    background-color: #458cf7;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.ask_arrow--rotate{
    transform: rotate(180deg);
}

.ask_show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.ask_img{
    display: block;
}

/* learning */ 

.learning_more{
    background-color: #ffff00;
    text-align: center;
}

.learning_copy{
    color: #f00;
}

/* footer para newsletter*/ 

.footer{
    background-color: #1d29;
}

.footer_title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title, .footer_newsletter{
    color: #fff
}

.footer_container{
    
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}


.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav_link--footer{
    display: flex;
    margin: 0; 
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input{
    background-color: #2091F9;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;  
    margin-right: 16px;
}

.footer_submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #ff7f00;
    border: none;
    font-size: 1rem;
    color: #e5e5f7;
    border-radius: 6px;
    cursor: pointer;
}

.footer_copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #ff7f00;
}

.footer_copyright{
    font-weight: 300;
}

.footer_icons{
    display: inline-flex;
    margin-bottom: 10px;
}

.footer_img{
    width: 50px;
}

/* game */



/* Aquí termina el game */



:root {
    --w: calc(70vw / 6);
    --h: calc(70vh / 4);
}

* {
    transition: all 0.5s;
}

body {
    padding: 0;
    margin: 0;
    background: none;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: calibri;
}

div {
    display: inline-block;
}

.area-tarjeta,
.tarjeta,
.cara {
    cursor: pointer;
    width: var(--w);
    min-width: 100px;
    height: var(--h);
}

.tarjeta {
    position: relative;
    transform-style: preserve-3d;
    animation: iniciar 5s;
}

.cara {
    position: absolute;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 5px white;
    font-size: 500%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trasera {
    background-color: lightcyan;
    transform: rotateY(180deg);
}

.superior {
    background: linear-gradient(orange, darkorange);
}

.nuevo-juego {
    cursor: pointer;
    background: linear-gradient(orange, darkorange);
    padding: 20px;
    border-radius: 50px;
    border: white 5px solid;
    font-size: 130%;
}



@keyframes iniciar {

    20%,
    90% {
        transform: rotateY(180deg);
    }

    0%,
    100% {
        transform: rotateY(0deg);
    }
}


/* Aquí termina el game */

/* consulta de medios (mediaqueries) */ 

@media (max-width:800px){
    .nav_menu{
        display: block;
    }

    .nav_link--menu{
        position: absolute;
        background-color: #2091F9;
        top: 0;
        right: 10%;
        height: 100%;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .5s opacity;
    }

    .nav_link--show{
        --show: block; 
        opacity: 1;
        pointer-events: unset; 
    }

    .nav_window-close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero_title{
        font-size: 2.5rem;
    }

    .about_main{
        gap: 2em;
    }

    .knowledge_picture{
        justify-self: left;
        grid-row: 1/2;
    }

    .knowledge_container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .leaving_container{
        grid-template-columns: 30px 1fr 30px;
        text-align: center;
    }

    .leaving_body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content max-content;
        gap: 3em;
        justify-items: center;
    }

    .leaving_img{
        width: 200px;
        height: 200px;
    }

    .ask_copy{
        width: 100%;
    }

    .footer_container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-items: center;
    }

    .footer_form{
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_input{
        flex: 1;
    }
}

@media (max-width:600px){
    .hero_title{
        font-size: 2rem;
    }

    .hero_paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }

    .knowledge_container{
    justify-content: space-between;
    }

    .knowledge_paragraph{
        justify-content: auto;
        text-align: center;
        width: 60%;
    }

    /* price NO */

    .leaving{
        --padding-container: 60px 0;
    }

    .leaving_container{
        grid-template-columns: 28px 1fr 28px;
        gap: .9em;
    }

    .leaving_arrow{
        width: 100%;
    }

    .leaving_course{
        margin-top: 15px;
    }

    .ask_title{
        font-size: 1rem;
    }

    .nav--footer{
        padding: 0;
        margin-bottom: 40px;
    }

    .footer_title{
        justify-self: start;
    }

    .footer_inputs{
        flex-wrap: wrap;
    }

    .footer_input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer_submit{
        margin-right: auto;
    }
}
